<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Agenda PMJP</title>

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
        <link rel="stylesheet" href="style.css">
        <style>
            .sel{background-color: #2875c7 !important;color:#fff !important;}
        </style>
    </head>
    <body ng-app="agenda">

        <div class="container" ng-controller="AgendaCtrl">
            <div class="col-md-3">			
                <div class="list-group text-center">
                    <a href="#" class="list-group-item" ng-repeat="(key, value) in agendas | groupBy: 'orgao'" ng-click="orgaoClick(key)" ng-class='{sel: key == orgaoSelected}'>{{ key}}</a>
                </div>				
            </div>
            <div class="col-md-6">
                <div class="well">
                    <div>
                        <img style="margin: 0 auto;width:30%;" src="images/Logo-PMJP.png" alt="" class="img-responsive" />
                    </div>
                    <h6 class="text-center">Agenda Oficial da Prefeitura de João Pessoa, Paraíba</h6>
                    <h4 class="text-center">{{ selected | formatDate | date: "dd ' de ' MMMM ' de ' yyyy"}}</h4>

                    <table class="table table-striped" style="margin-top: 2em;">
                        <thead>
                        <th></th>
                        <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat='agenda in agendas| filter: transformedSelected | filter: { orgao: orgaoSelected } '>
                                <td style="padding: 18px 10px; text-align: center;">
                                    <i class="fa fa-clock-o" style="width:100%"></i>
                                    {{ agenda.datahorario | formatHora}}
                                </td>
                                <td>
                                    <h5><strong>{{ agenda.titulo}}</strong></h5> 
                                    <p>{{ agenda.descricao}}</p>
                                    <p>{{ agenda.local}}</p>
                                </td>
                            </tr>
                            <tr ng-show='(agendas|filter:transformedSelected|filter:{orgao:orgaoSelected}).length == 0'>
                                <td colspan="2" style="text-align: center;">Nenhum registro encontrado</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-primary">
                    <calendar selected="day"></calendar>	
                </div>
            </div>
        </div>


        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/locale/pt-br.js"></script>
        <!-- Bootstrap JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.5.5/angular-locale_pt-br.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.8/angular-filter.js"></script>
        <script type="text/javascript">
                                var app = angular.module("agenda", ['angular.filter']);

                                app.controller("AgendaCtrl", function ($scope, $http) {
                                    $scope.day = moment();
                                    $scope.transformedSelected = moment();
                                    $scope.orgaoSelected = 'PREFEITO';
                                    $http.get('http://transparencia.joaopessoa.pb.gov.br/agenda-admin/api/agendas')
                                            .then(function (response) {
                                                $scope.agendas = response.data;
                                                $scope.select({date: moment()});
                                            }, function (error) {
                                                console.log(error);
                                            });
                                            
                                    $scope.orgaoClick = function(nomeOrgao){
                                        $scope.orgaoSelected = nomeOrgao;
                                    };
                                });

                                app.filter('formatDate', function () {
                                    return function (input) {
                                        return new Date(input);
                                    };
                                });

                                app.filter('formatHora', function () {
                                    return function (input) {
                                        var hora = input.split(' ');
                                        hora = hora[1].substr(0, 5);
                                        return hora;
                                    };
                                });

                                app.directive("calendar", function () {
                                    return {
                                        restrict: "E",
                                        templateUrl: "templates/calendar.html",
                                        // scope: {
                                        // 	selected: "="
                                        // },
                                        scope: false,
                                        link: function ($scope) {
                                            $scope.selected = _removeTime($scope.selected || moment());
                                            $scope.month = $scope.selected.clone();

                                            var start = $scope.selected.clone();
                                            start.date(1);
                                            _removeTime(start.day(0));

                                            _buildMonth($scope, start, $scope.month);

                                            $scope.select = function (day) {
                                                $scope.selected = day.date;
                                                var d = new Date($scope.selected);
                                                var anoMesMinutos = d.getFullYear() + '-' + (d.getMonth() + 1) + '-' + d.getDate();
                                                var dd = anoMesMinutos.split('-');
                                                if (dd[1] < 10) {
                                                    dd[1] = '0' + dd[1];
                                                }
                                                if (dd[2] < 10) {
                                                    dd[2] = '0' + dd[2];
                                                }
                                                anoMesMinutos = dd[0] + '-' + dd[1] + '-' + dd[2];
                                                $scope.transformedSelected = anoMesMinutos;
                                            };

                                            $scope.next = function () {
                                                var next = $scope.month.clone();
                                                _removeTime(next.month(next.month() + 1)).date(1);
                                                $scope.month.month($scope.month.month() + 1);
                                                _buildMonth($scope, next, $scope.month);
                                            };

                                            $scope.previous = function () {
                                                var previous = $scope.month.clone();
                                                _removeTime(previous.month(previous.month() - 1).date(1));
                                                $scope.month.month($scope.month.month() - 1);
                                                _buildMonth($scope, previous, $scope.month);
                                            };
                                        }
                                    };

                                    function _removeTime(date) {
                                        return date.day(0).hour(0).minute(0).second(0).millisecond(0);
                                    }

                                    function _buildMonth($scope, start, month) {
                                        $scope.weeks = [];
                                        var done = false, date = start.clone(), monthIndex = date.month(), count = 0;
                                        while (!done) {
                                            $scope.weeks.push({days: _buildWeek(date.clone(), month)});
                                            date.add(1, "w");
                                            done = count++ > 2 && monthIndex !== date.month();
                                            monthIndex = date.month();
                                        }
                                    }

                                    function _buildWeek(date, month) {
                                        var days = [];
                                        for (var i = 0; i < 7; i++) {
                                            days.push({
                                                name: date.format("dd").substring(0, 1),
                                                number: date.date(),
                                                isCurrentMonth: date.month() === month.month(),
                                                isToday: date.isSame(new Date(), "day"),
                                                date: date
                                            });
                                            date = date.clone();
                                            date.add(1, "d");
                                        }
                                        return days;
                                    }
                                });
        </script>

    </body>
</html>