<!-- <calendar selected="day"></calendar> -->
<div class="header">
	<i class="fa fa-angle-left" ng-click="previous()"></i>
	<span>{{ month.format("MMMM - YYYY") }}</span>
	<i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="week names">
	<span class="day">Dom</span>
	<span class="day">Seg</span>
	<span class="day">Ter</span>
	<span class="day">Qua</span>
	<span class="day">Qui</span>
	<span class="day">Sex</span>
	<span class="day">Sab</span>
</div>
<div class="week" ng-repeat="week in weeks">
	<span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>